---
layout: default
title: rants and reviews
---

<div id="home">
  <h1>Posts</h1>
  <ul class="posts">
  <dl class="dl-horizontal">

    {% for post in site.posts %}
    <dt>
        <span>{{ post.date | date_to_string }}</span>
    </dt>
    <dd>
        <a href="{{ post.url }}"><div class="elli">{{ post.title }}</div></a>
        <span style="padding:20px;">
        {% for tag in post.tags %}
            <span class="btn-xs btn-info">{{ tag }}</span>
        {% endfor %}
        </span>
    </dd>
    {% endfor %}
  </ul>
</div>
