<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>{{ page.title }}</title>
	<meta name="viewport" content="width=device-width">

	<!-- bootstrap CSS -->
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	
	<!-- syntax highlighting CSS -->
	<!-- <link rel="stylesheet" href="/css/syntax.css"> -->
	
	<!-- Custom CSS -->
	<!-- <link rel="stylesheet" href="/css/main.css"> -->

</head>

<body>
<div class="col-lg-12">
	<div class="row">
		<div class="navbar navbar-inverse">
			<div class="navbar-header">
			  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			  </button>
			  <a class="navbar-brand" href="/">{{ site.name }}</a>
			</div>
			<div class="navbar-collapse collapse navbar-responsive-collapse">
			  <ul class="nav navbar-nav">
				<li class="active"><a href="/">Home</a></li>
				<li><a href="#">TBD</a></li>
			  </ul>
			  <!--
			  <ul class="nav navbar-nav navbar-right">
				<li class="dropdown">
				  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
				  <ul class="dropdown-menu">
					<li><a href="#">Action</a></li>
					<li><a href="#">Another action</a></li>
					<li><a href="#">Something else here</a></li>
					<li class="divider"></li>
					<li><a href="#">Separated link</a></li>
				  </ul>
				</li>
			  </ul>
			  -->
			</div>
		  </div>
	  </div> <!-- row -->

    <div class="panel panel-default">

	{{ content }}
	
    </div>

	<footer>
		<div class="row">
			<div class="col-lg-4"> </div>
			<div class="col-lg-4">
				<div class="well">
					<a href="https://github.com/{{ site.author.name }}">github.com/{{ site.author.name }}</a>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="well">
				<a href="https://twitter.com/{{ site.author.name }}">twitter.com/{{ site.author.name }}</a>
				</div>
			</div>
		</div>
	</footer>
	  
</div>
</body>

</html>
